<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="gdh-wrapper">
            <div class="gdh-container">
                <div class="gdh-content">
                    <div class="container">
                        <div class="cover">
                            <div class="cover-content">
                                <div class="hero">
                                    <div class="search">
                                        <div class="intro">
                                            <div class="intro__logo">
                                                <svg data-v-72b14383="" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 31.2 31.2" class="title-icon">
                                                    <path d="M13.8 1.1h9.5v3.6h-5.7v8.9h5.7v3.5h-5.7V30h-3.8V1.1zM9.7 15.4c1.3-.7 1.8-1.8 1.8-3.5V5.7c0-3-.9-4.5-4.9-4.5H0V30h6.8c4 0 4.9-1.9 4.9-4.9V19c0-1.8-.6-3-2-3.6zM3.8 4.8h2.6c1.2 0 1.3.6 1.3 1.9v4.9c0 1.3-.2 2.1-1.4 2.1H3.8V4.8zm4 20.2c0 .9-.3 1.4-1.3 1.4H3.8v-9.2h2.6c1.1 0 1.4.6 1.4 1.5V25zm23.4 5h-1.1l-2.7-2.7c-.2-.2-.2-.2-.4-.2h-.2c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h.7v.9h-.7c-.9 0-1.3-.4-1.3-1.3v-1.4c0-.9.4-1.3 1.3-1.3h.2c.4 0 .7 0 .9.3l2.3 2.2V26h1.1v2.7h-.6c-.1 0-.1.1 0 .1l.7.7-.2.5zm-4.4-8.3c-.9 0-1.3-.4-1.3-1.3v-1.3c0-.9.4-1.3 1.3-1.3h3.1c.9 0 1.3.4 1.3 1.3v1.3c0 .9-.5 1.3-1.3 1.3h-3.1zm3-1.1c.2 0 .3-.1.3-.3V19c0-.2-.1-.3-.3-.3h-3.1c-.2 0-.3.1-.3.3v1.3c0 .2.1.3.3.3h3.1zm.5-7.2h-1.1l-3.8-2.8v-1h3.8v.6c0 .1.1.1.1 0l.7-.6h1v1h-.8v2.8h.1zm-1-1.3v-1.5h-2.1l2.1 1.5zm1.9-7h-1.1l-2.7-2.7c-.2-.2-.2-.2-.4-.2h-.2c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h.7v1.1h-.7c-.9 0-1.3-.4-1.3-1.3V2.5c0-.9.4-1.3 1.3-1.3h.2c.4 0 .7 0 .9.3l2.3 2.2V1.1h1.1v2.7h-.6c-.1 0-.1.1 0 .1l.7.7-.2.5z">
                                                    </path>
                                                </svg>
                                            </div>
                                            <div class="intro__text">
                                                <h1 data-v-72b14383="">Battlefield 2042 Stats</h1>
                                                <span data-v-72b14383="" class="lead">
                                                    Check Detailed Battlefield
                                                    2042 Stats and Leaderboards
                                                </span>
                                            </div>
                                        </div>
                                        <div class="search-box">
                                            <div class="search-box__bar">
                                                <div class="title-selector">
                                                    <div class="dropdown__game">
                                                        <div data-v-ecacbe12="" class="value">
                                                            <svg data-v-ecacbe12=""
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 viewBox="0 0 31.2 31.2" class="icon">
                                                                <path d="M13.8 1.1h9.5v3.6h-5.7v8.9h5.7v3.5h-5.7V30h-3.8V1.1zM9.7 15.4c1.3-.7 1.8-1.8 1.8-3.5V5.7c0-3-.9-4.5-4.9-4.5H0V30h6.8c4 0 4.9-1.9 4.9-4.9V19c0-1.8-.6-3-2-3.6zM3.8 4.8h2.6c1.2 0 1.3.6 1.3 1.9v4.9c0 1.3-.2 2.1-1.4 2.1H3.8V4.8zm4 20.2c0 .9-.3 1.4-1.3 1.4H3.8v-9.2h2.6c1.1 0 1.4.6 1.4 1.5V25zm23.4 5h-1.1l-2.7-2.7c-.2-.2-.2-.2-.4-.2h-.2c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h.7v.9h-.7c-.9 0-1.3-.4-1.3-1.3v-1.4c0-.9.4-1.3 1.3-1.3h.2c.4 0 .7 0 .9.3l2.3 2.2V26h1.1v2.7h-.6c-.1 0-.1.1 0 .1l.7.7-.2.5zm-4.4-8.3c-.9 0-1.3-.4-1.3-1.3v-1.3c0-.9.4-1.3 1.3-1.3h3.1c.9 0 1.3.4 1.3 1.3v1.3c0 .9-.5 1.3-1.3 1.3h-3.1zm3-1.1c.2 0 .3-.1.3-.3V19c0-.2-.1-.3-.3-.3h-3.1c-.2 0-.3.1-.3.3v1.3c0 .2.1.3.3.3h3.1zm.5-7.2h-1.1l-3.8-2.8v-1h3.8v.6c0 .1.1.1.1 0l.7-.6h1v1h-.8v2.8h.1zm-1-1.3v-1.5h-2.1l2.1 1.5zm1.9-7h-1.1l-2.7-2.7c-.2-.2-.2-.2-.4-.2h-.2c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h.7v1.1h-.7c-.9 0-1.3-.4-1.3-1.3V2.5c0-.9.4-1.3 1.3-1.3h.2c.4 0 .7 0 .9.3l2.3 2.2V1.1h1.1v2.7h-.6c-.1 0-.1.1 0 .1l.7.7-.2.5z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown__platorm">
                                                        <div data-v-ecacbe12="" class="value">
                                                            <svg data-v-ecacbe12=""
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 viewBox="0 0 190.377 255.763" class="icon">
                                                                <path d="M89.961 91.054a37.345 37.345 0 0 0-25.682 16.123 36.564 36.564 0 0 0-6.25 20.158 36.6 36.6 0 0 0 10.145 26.078 37.169 37.169 0 0 0 62.566-14.685c4.721-14.55-.938-31.594-13.265-40.584a37.072 37.072 0 0 0-27.514-7.09m.976-90.71a2.781 2.781 0 0 1 3.966 1.421c.521 1.34-.38 2.566-1.118 3.6a63.112 63.112 0 0 0-10.329 24.913 1.9 1.9 0 0 0-.971 2.447c.488.179.982.337 1.481.488a102.673 102.673 0 0 1 30.407 1.427 94.74 94.74 0 0 1 48.188 25.985 95.214 95.214 0 0 1 25.829 47.881 95.626 95.626 0 0 1-6.385 58.475 197.822 197.822 0 0 1-82.486 88.426c-1.156.538-2.821.559-3.612-.591a3.264 3.264 0 0 1 .374-4.015 62.558 62.558 0 0 0 10.041-22.579 17.706 17.706 0 0 0 .689-5.1c-.592-.77-1.568-.537-2.4-.509a95.261 95.261 0 0 1-51.005-9.049 95.371 95.371 0 0 1-40.56-37.486A94.19 94.19 0 0 1 .016 126.76a95.517 95.517 0 0 1 11.966-45.325A197.216 197.216 0 0 1 90.937.344">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <form method="post" action="@Url.Action("Overview", "Bf2042")" id="searchForm">
                                                    <input name="HeroName" placeholder="Enter Origin Username" type="search">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("searchForm").addEventListener("keypress", function (e) {
                if (e.key === "Enter") {
                    e.preventDefault(); 
                    document.getElementById("searchForm").submit();
                }
            });
        </script>
    </body>
</html>